#components-layout-demo-side .logo[b-7yxi3zqymt] {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background[b-7yxi3zqymt] {
    background: #fff;
}