/* /Pages/Auth/Login.Razor.rz.scp.css */
.space-align-container[b-eemm8r3t0j] {
    display: flex;
    align-item: flex-start;
    flex-wrap: wrap;
}

.space-align-block[b-eemm8r3t0j] {
    margin: 8px 4px;
    border: 1px solid #40a9ff;
    padding: 4px;
    flex: none;
}

.space-align-block .mock-block[b-eemm8r3t0j] {
    display: inline-block;
    padding: 32px 8px 16px;
    background: rgba(150, 150, 150, 0.2);
}
/* /Shared/LoginDisplay.razor.rz.scp.css */
.container-avatar[b-4g4xl36uau] {
    display: flex;
    align-items: center;
    justify-content: end;
}

.container[b-4g4xl36uau] {
    padding: 1rem;
}

.user-avatar[b-4g4xl36uau] {
    margin-bottom: 1rem;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

.items[b-4g4xl36uau] {
    margin-bottom: 1rem;
}

.content-child-div[b-4g4xl36uau] {
    display: flex; 
    justify-content: end; 
    align-items: center;
}
/* /Shared/MainLayout.razor.rz.scp.css */
#components-layout-demo-side .logo[b-7yxi3zqymt] {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background[b-7yxi3zqymt] {
    background: #fff;
}
/* /Shared/NavMenu.razor.rz.scp.css */
#components-layout-demo-side .logo[b-kx4xo4k4xm] {
    height: 16px;
    background: rgba(254, 254, 254, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background[b-kx4xo4k4xm] {
    background: #fff;
}

.logo-img[b-kx4xo4k4xm] {
    height: 64px;
    width: 64px;
    margin: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
