@page "/expense"
@using System.ComponentModel
@using AntDesign
@using AntDesign.TableModels
@using AntDesign.Core.Extensions

@inject HttpClient Http

<PageTitle>Despesas</PageTitle>

<h1>Minhas Despesas</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table TItem="WeatherForecast" DataSource="@forecasts">
        <PropertyColumn Title="Date" Property="c=>c.Date.ToShortDateString()" />
        <PropertyColumn Title="Template. (C)" Property="c=>c.TemperatureC" />
        <PropertyColumn Title="Template. (F)" Property="c=>c.TemperatureF" />
        <PropertyColumn Title="Summary" Field="context.Summary"/>
    </Table>
}

@code {
    ITable table;
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
