@page "/"
@page "/index"

<PageTitle>Home</PageTitle>

<h1>Olá, Bem-vindo!</h1>

Bem-vindo ao seu aplicativo para finanças pessoais.

<br>
<br>

<div>
    <Card Title=@("Dashboard")>
        <CardGrid Style="width:25%;text-align:center" Hoverable="true">
            <h3>R$ 19.963,47</h3>
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center; background-color: #008000" Hoverable="true">
            <h3 style="color: white">R$ 169,69</h3>
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center" Hoverable="true">
            <h3>R$ 324,710</h3>
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center" Hoverable="true">
            <h3>R$ 10.378,00</h3>
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center" Hoverable="true">
            <h3>R$ 13.000,00</h3>
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center"Hoverable="true">
            <h3>R$ 3.000,00</h3>
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center" Hoverable="true">
            <h3>R$ 12.000,00</h3>
        </CardGrid>
        <CardGrid Style="width:25%;text-align:center" Hoverable="true">
            <h3>R$ 0,00</h3>
        </CardGrid>
    </Card>
</div>