@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="d-flex justify-content-center align-content-center">
            <Avatar Src="@context.User.Claims.First(x => x.Type == "picture").Value"/>
            <Text Type="success">@context.User.Identity?.Name</Text>
            <button class="nav-link btn btn-link" @onclick="BeginLogOut">Sair</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <button class="nav-link btn btn-link" @onclick="SigninGoogle">Sign In com Google</button>
    </NotAuthorized>
</AuthorizeView>

@code{
    private string _accessToken;
    
    private void BeginLogOut() =>
        Navigation.NavigateToLogout("authentication/logout");

    private void SigninGoogle() =>
        Navigation.NavigateTo("authentication/login");
}