.container-avatar {
    display: flex;
    align-items: center;
    justify-content: end;
}

.container {
    padding: 1rem;
}

.user-avatar {
    margin-bottom: 1rem;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

.items {
    margin-bottom: 1rem;
}

.content-child-div {
    display: flex; 
    justify-content: end; 
    align-items: center;
}