#components-layout-demo-side .logo {
    height: 16px;
    background: rgba(254, 254, 254, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.logo-img {
    height: 64px;
    width: 64px;
    margin: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}